<ui:composition template="/view/defaultpage.xhtml" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:define name="main-panel">
		<ui:include src="/view/mainform.xhtml" />
	</ui:define>
</ui:composition>