<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Тестовая страница</title>
    <link rel="shortcut icon" href="#{resource['image/favicon.ico']}" type="image/x-icon"/>
    <h:outputStylesheet library="css" name="test.css"/>
</h:head>
<h:body>
    <div class="card">
        <h:outputText id="globalText" value="Верхняя надпись"/>
    </div>
    <ui:insert name="main-panel"/>
</h:body>
</html>