<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <h:panelGroup id="basePanel">
        <h:form id="baseForm">

            <div class="card">
                <p:commandButton id="panelButton" value="Добавить панель"
                                 update="panels"
                                 actionListener="#{mainBean.addPanels()}"
                                 styleClass="misc-button}"/>
            </div>

            <h:panelGroup id="panels">
                <ui:repeat value="#{mainBean.integers}" var="integer">
                    <div class="card panel">
                        <h:outputText value="Панель №#{integer}"/>
                    </div>
                </ui:repeat>
            </h:panelGroup>
        </h:form>
    </h:panelGroup>
</ui:composition>