@font-face {
    font-family: 'Roboto';
    src: url(#{resource[ 'fonts/roboto-regular.woff' ]}) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(#{resource[ 'fonts/roboto-italic.woff' ]}) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(#{resource[ 'fonts/roboto-bold.woff' ]}) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(#{resource[ 'fonts/roboto-bolditalic.woff' ]}) format('woff');
    font-weight: bold;
    font-style: italic;
}

html, body {
    font-size: 16px;
}

input, textarea, select, button {
    font-size: 16px !important;
}

.ui-growl-item .ui-growl-message {
    font-size: 16px !important;
}

::-webkit-scrollbar {
    width: .2em;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

/* Main styles */
html, body {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    position: relative;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #424242;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 500px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}